
.counter {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.seed-container {
    display: flex;
    flex-flow: column wrap;
    height: 90px;
    width: 140px;
    position: absolute;
    justify-content: space-evenly;
    padding: 5px;
}
