html, body {
    margin: 0;
    padding: 0;
}

.background {
    display: block;
    height: 380px;
    width: 601px;
    display: flex;
    flex-direction: column;
    background-image: url(https://th.bing.com/th?id=OIP.3Pf_oz_JyqevX87nf8hpZQHaE7&w=306&h=203&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
}



.game {
    display: flex;
    justify-content: center;
}

.main-game {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mancala-game-type {
    height: 120px;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.messages {
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.score {
    border: 3px black solid;
    height: 110px;
    width: 45px;
    margin: 10px;
}

.upper-house, .lower-house {
    border: 3px black solid;
    height: 40px;    
    margin: 1px;
    width: 50px;
    border-radius: 6px;
}

.upper-house {
    margin-top: 20px;
    border-color: blue;
}

.lower-house {
    border-color:firebrick;
}

.right-score {
    border-color:firebrick;
}

.left-score {
    border-color:blue;
}

.winner {
    text-align: center;
    color: yellowgreen;
    text-shadow: 3px 3px green;
    font-size: 50px;
    font-family: fantasy;
}

.game-state Play_AI{
    display: flex;
    width: 120px;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border-radius: 12px;
    height: 60px;
    font-size: 25px ;
    
}

.button-container{
    justify-content: center;
    margin-left: 40%;
}

.right-score, .left-score{
    border-radius: 6px;
}