html, body {
    margin: 0;
    padding: 0;
}

.background {
    display: block;
    height: 380px;
    width: 601px;
    background: #9e7d5c;
    display: flex;
    flex-direction: column;
}

.game {
    display: flex;
}

.mancala-game-type {
    height: 100px;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.score {
    border: 1px black solid;
    height: 110px;
    width: 45px;
    margin: 10px;
}

.house {
    border: 1px black solid;
    height: 40px;    
    margin: 10px;
    width: 50px;
}